.git
.gitignore

__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.mypy_cache
.pytest_cache
.hypothesis

venv
*.venv
env/
venv/
ENV/

.vscode
.idea

.DS_Store
Thumbs.db


dist
build
*.egg-info

*.swp
*.bak
*.tmp
*~

sync_record*

docker-compose/