# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Output Data Files
*.json
*.csv
docker-compose/hemera-indexer.env
docker-compose/data/
docker-compose/output/
docker-compose/postgres/

# JetBrains IDE
.idea/
*.iml

# vim
*.swp

# OSX
.DS_Store

# Local Config
hemera/resource/hemera.ini
sync_record
alembic.ini
!hemera_udf/hemera_ens/abi/*.json
!hemera_udf/cyber_id/abi/*.json

# DB
*.db