version: '3.8'

x-common-settings: &common-settings
  build: ../
  env_file:
    - hemera-indexer.env
  command: [ "stream" ]
  restart: unless-stopped
  networks:
    - hemera
  volumes:
    - hemera-output:/app/output
  depends_on:
    postgresql:
      condition: service_healthy

services:
  hemera-main-indexer:
    <<: *common-settings
    container_name: indexer
    environment:
      - INIT_SCHEMA=true
      - ENTITY_TYPES=EXPLORER_BASE
      - SYNC_RECORDER=pg:main_recorder
      - RETRY_FROM_RECORD=true

  hemera-uop-indexer:
    <<: *common-settings
    container_name: indexer-uop
    environment:
      - ENTITY_TYPES=USER_OPS
      - SYNC_RECORDER=pg:uop_recorder


  hemera-api:
    <<: *common-settings
    container_name: hemera-api
    command: [ "api" ]
    ports:
      - 8082:8082

  postgresql:
    env_file:
      - hemera-indexer.env
    image: postgres:15
    container_name: postgresql
    healthcheck:
      test: pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB
      interval: 1s
      timeout: 3s
      retries: 3
    ports:
      - 5432:5432
    networks:
      - hemera
    volumes:
      - hemera-postgres:/var/lib/postgresql/data

  redis:
    image: redis:6
    container_name: redis
    ports:
      - 6379:6379
    networks:
      - hemera

volumes:
    hemera-postgres:
    hemera-output:

networks:
  hemera:

