from dataclasses import dataclass

from hemera.indexer.domains import Domain


@dataclass
class AddressFeatureValueCurrent(Domain):
    address: str
    feature_value: int
    block_number: int
    block_timestamp: int


@dataclass
class AddressFeatureValueHistory(Domain):
    address: str
    feature_value: int
    block_number: int
    block_timestamp: int

@dataclass AddressFeatureEvent(Domain):
    transaction_hash: str
    address: str
    event_value: int
    block_number: int
    block_timestamp: int
