from dataclasses import dataclass

from hemera.indexer.domains import Domain


@dataclass
class CustomDomainA(Domain):
    field1: str
    field2: int
    may_need_block_number: int
    may_need_block_timestamp: int


@dataclass
class CustomDomainB(Domain):
    field1: str
    field2: int
    may_need_block_number: int
    may_need_block_timestamp: int